Repository tunnelvisionlabs/NOpenCL: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - NOpenCL/
  test:
    paths:
      - NOpenCL.Test/

Add public API files to enable analysis
  NOpenCL/NOpenCL.csproj
  NOpenCL/PublicAPI.Shipped.txt
  NOpenCL/PublicAPI.Unshipped.txt
Due: production

Update PublicAPI.Unshipped.txt to match current API
  NOpenCL/PublicAPI.Unshipped.txt
Due: production

Install PublicApiAnalyzer 1.0.0-alpha001
  NOpenCL/NOpenCL.csproj
  NOpenCL/packages.config
Due: production

Make API diagnostics errors
  TunnelVisionLabs.NOpenCL.ruleset
Due: none

Suppress warning CS1574 related to code not yet implemented
  NOpenCL/BinaryType.cs
  NOpenCL/BuildStatus.cs
  NOpenCL/Platform.cs
Due: production

Fix a build warning for missing blank line at end of file
  NOpenCL.Test/TestCategories.cs
Due: test

Define extension CommandType members
  NOpenCL/CommandType.cs
  NOpenCL/PublicAPI.Unshipped.txt
Due: production

Use autoUpgrade="true" for referencing a method group in documentation
  NOpenCL/BinaryType.cs
  NOpenCL/BuildStatus.cs
  NOpenCL/Device.cs
  NOpenCL/Platform.cs
Due: production

Treat warnings as errors for command line builds
  NOpenCL.Test/NOpenCL.Test.csproj
  NOpenCL/NOpenCL.csproj
  TunnelVisionLabs.NOpenCL.ruleset
Due: production, test

Fix warning regarding unreachable code
  NOpenCL.Test/NVidia/VectorAdd.cs
Due: test

Use nameof instead of string literals where appropriate
  NOpenCL/Buffer.cs
  NOpenCL/CommandQueue.cs
  NOpenCL/Context.cs
  NOpenCL/Device.cs
  NOpenCL/Event.cs
  NOpenCL/Extensions/KhrD3D10Sharing.cs
  NOpenCL/Extensions/KhrD3D11Sharing.cs
  NOpenCL/Extensions/NvDeviceAttributeQuery.cs
  NOpenCL/Kernel.cs
  NOpenCL/KernelArgument.cs
  NOpenCL/MemObject`1.cs
  NOpenCL/Program.cs
  NOpenCL/Sampler.cs
  NOpenCL/UnsafeNativeMethods.Buffers.cs
  NOpenCL/UnsafeNativeMethods.Cleanup.cs
  NOpenCL/UnsafeNativeMethods.CommandQueues.cs
  NOpenCL/UnsafeNativeMethods.Contexts.cs
  NOpenCL/UnsafeNativeMethods.Devices.cs
  NOpenCL/UnsafeNativeMethods.Events.cs
  NOpenCL/UnsafeNativeMethods.KernelExecution.cs
  NOpenCL/UnsafeNativeMethods.Kernels.cs
  NOpenCL/UnsafeNativeMethods.Partitioning.cs
  NOpenCL/UnsafeNativeMethods.Platforms.cs
  NOpenCL/UnsafeNativeMethods.Profiling.cs
  NOpenCL/UnsafeNativeMethods.Programs.cs
  NOpenCL/UnsafeNativeMethods.Samplers.cs
  NOpenCL/UnsafeNativeMethods.Synchronization.cs
Due: production

Add initial .editorconfig
  .editorconfig
  NOpenCL.sln
Due: none

Update use of 'var' to match code style
  NOpenCL.Test/Intel/Optimization.cs
  NOpenCL.Test/NVidia/Bandwidth.cs
  NOpenCL.Test/NVidia/VectorAdd.cs
  NOpenCL.Test/TestBuffers.cs
  NOpenCL/SafeHandles/SafeHandleArrayMarshaler.cs
  NOpenCL/UnsafeNativeMethods.Partitioning.cs
  NOpenCL/UnsafeNativeMethods.Samplers.cs
Due: production, test

Disable naming style rules in NativeMethods files
  NOpenCL/UnsafeNativeMethods.Buffers.cs
  NOpenCL/UnsafeNativeMethods.Cleanup.cs
  NOpenCL/UnsafeNativeMethods.CommandQueues.cs
  NOpenCL/UnsafeNativeMethods.Contexts.cs
  NOpenCL/UnsafeNativeMethods.Devices.cs
  NOpenCL/UnsafeNativeMethods.Events.cs
  NOpenCL/UnsafeNativeMethods.KernelExecution.cs
  NOpenCL/UnsafeNativeMethods.Kernels.cs
  NOpenCL/UnsafeNativeMethods.Partitioning.cs
  NOpenCL/UnsafeNativeMethods.Platforms.cs
  NOpenCL/UnsafeNativeMethods.Profiling.cs
  NOpenCL/UnsafeNativeMethods.Programs.cs
  NOpenCL/UnsafeNativeMethods.Samplers.cs
  NOpenCL/UnsafeNativeMethods.Synchronization.cs
  NOpenCL/UnsafeNativeMethods.cs
Due: production

Rewrite NOpenCL.Buffer as generic type Buffer<T>
  NOpenCL.Test/Intel/Optimization.cs
  NOpenCL.Test/NVidia/Bandwidth.cs
  NOpenCL.Test/NVidia/VectorAdd.cs
  NOpenCL.Test/TestBuffers.cs
  NOpenCL/BufferCreateType.cs
  NOpenCL/Buffer`1.cs
  NOpenCL/CommandQueue.cs
  NOpenCL/Context.cs
  NOpenCL/Image.cs
  NOpenCL/KernelArgument.cs
  NOpenCL/MemObjectType.cs
  NOpenCL/NOpenCL.csproj
  NOpenCL/PublicAPI.Unshipped.txt
Due: production, test

Convert NOpenCL to the new project system
  NOpenCL.sln
  NOpenCL/NOpenCL.csproj
  NOpenCL/Properties/AssemblyInfo.cs
  NOpenCL/packages.config
Due: production

Convert NOpenCL.Test to the new project system
  NOpenCL.Test/NOpenCL.Test.csproj
  NOpenCL.Test/Properties/AssemblyInfo.cs
  NOpenCL.Test/packages.config
  NOpenCL.sln
  appveyor.yml
Due: test

Enable globbing to simplify the project
  NOpenCL.Test/NOpenCL.Test.csproj
  NOpenCL/NOpenCL.csproj
Due: production, test

Emit debugging information that OpenCover understands
  NOpenCL.Test/NOpenCL.Test.csproj
  NOpenCL/NOpenCL.csproj
Due: production, test

Update StyleCop Analyzers to support C# 7
  NOpenCL.Test/NOpenCL.Test.csproj
  NOpenCL/NOpenCL.csproj
Due: production, test

Re-enable warnings as errors on AppVeyor
  appveyor.yml
Due: none

Fix warnings reported by the new version of StyleCop
  NOpenCL.Test/NVidia/Bandwidth.cs
Due: test

Fixed test TestPlatformProperties to pass on machines with OpenCl 2.0-2.2 support
  NOpenCL.Test/TestPlatform.cs
Due: test
